<a [routerLink]="['/details', country.name.common]">
  <div class="listing-item">
    <div class="listing-item-wrapper">
      <div class="flag-photo">
        <img src="{{ country.flags.png }}" alt="" />
      </div>
      <div class="country-info">
        <h2>{{ country.name.common }}</h2>
        <p><span>Population:</span> {{ country.population }}</p>
        <p><span>Region:</span> {{ country.region }}</p>
        <p><span>Capital:</span> {{ country.capital }}</p>
      </div>
    </div>
  </div>
</a>
