a {
  text-decoration: none;
  color: var(--VeryDarkBlue);
}

.country-details {
  padding: 0 1rem;
}

.country-details-wrapper {
  max-width: 1320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  padding: 0 1rem;
}

.details {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  margin-top: 0.5rem;
}

.info-details {
  margin-bottom: 4.25rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.info-details p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.info-details span,
.border-countries span {
  font-weight: 700;
}

.info h2 {
  font-weight: 800;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.info-left {
  margin-right: 7.25rem;
}

.flag {
  width: 45%;
  height: 400px;
}

.flag img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.border-countries {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

a.border-button {
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.35rem 0.75rem;
  background-color: white;
  border-radius: 7px;
  margin: 0.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.1);
}

a.border-button:hover {
  background-color: rgb(198, 205, 212);
  cursor: pointer;
}

a.back-button {
  display: inline-block;
  width: 7.75rem;
  padding: 0.5rem 1rem;
  padding-left: 3.5rem;
  background-color: white;
  background-image: url("/assets/arrow-left-long-solid.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position-x: 30%;
  background-position-y: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.1);
}

a.back-button:hover {
  background-color: rgb(198, 205, 212);
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .info-details {
    margin-bottom: 4.25rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 1060px) {
  .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .flag {
    width: auto;
    height: auto;
  }
}
