<div class="filters">
  <div class="filters-wrapper">
    <input
      class="filter-input"
      type="text"
      placeholder="Search for a country..."
      #filter
    />
    <select class="select-input" name="" id="" placeholder="Filter by region">
      <option class="xd" selected value="Filter by region">
        Filter by region
      </option>
      <option value="Africa">Africa</option>
      <option value="America">America</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </div>
</div>
