<div class="filters">
  <div class="filters-wrapper">
    <input
      class="filter-input"
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="searchText"
    />
    <select
      [(ngModel)]="selectRegion"
      class="select-input"
      name=""
      id=""
      placeholder="Filter by region"
    >
      <option class="xd" value="filterByRegion" selected>
        Filter by region
      </option>
      <option value="Africa">Africa</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </div>
</div>

<div class="listing">
  <div class="listing-wrapper">
    <app-country-item
      *ngFor="let country of getFilterListing(searchText)"
      [country]="country"
    ></app-country-item>
  </div>
</div>
