*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

:root {
  --DarkBlue: hsl(209, 23%, 22%); /*Dark Mode Elements*/
  --VeryDarkBlue: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --VeryDarkBlue: hsl(200, 15%, 8%); /* (Light Mode Text)*/
  --DarkGray: hsl(0, 0%, 52%); /* (Light Mode Input)*/
  --VeryLightGray: hsl(0, 0%, 98%); /* (Light Mode Background)*/
  --White: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements)*/
}

body {
  background-color: var(--VeryLightGray);
}
